In [16]:
import pandas as pd

#### Scraping the Data

In [4]:
all_tables = pd.read_html('https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [11]:
all_tables[12]
all_tables[19]
all_tables[25]
all_tables[61]
# Checking the data and Finding the data about groups

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts              Qualification
0    1     Portugal    0  0  0  0   0   0   0    0  Advance to knockout stage
1    2        Ghana    0  0  0  0   0   0   0    0  Advance to knockout stage
2    3      Uruguay    0  0  0  0   0   0   0    0                        NaN
3    4  South Korea    0  0  0  0   0   0   0    0                        NaN

#### Using ascii to asign letters to groups

In [21]:
from string import ascii_uppercase as alphabet
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [23]:
for letter, i in zip(alphabet, range(12, 62, 7)):
    print(letter, i)

A 12
B 19
C 26
D 33
E 40
F 47
G 54
H 61

#### Renaming Columns

In [22]:
for letter, i in zip(alphabet, range(12, 62, 7)):
    df = all_tables[i]
    df.rename(columns={df.iloc[:, 1]:"Team"}, inplace = True)
    print(letter, i)

TypeError: unhashable type: 'Series'